.transaction-container {
  height: 100%;
  background-image: url('/assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 3rem;
}

.gap {
  width: 1rem;
}